<footer class="footer">
  <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="footer-logo" src="./assets/images/white-logo.png" alt="Logo">
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul>
            <li>
              <a href=""><i class="fa fa-location-arrow"></i> Viña del Mar y Santiago de Chile</a>
            </li>
            <li><a href=""><i class="fa fa-phone"></i> +569 9887 6717</a></li>
            <li><a href=""><i class="fa fa-envelope"></i> contacto@grancanariapropiedades.cl</a></li>
            <li><a href=""><i class="fa fa-envelope"></i> astrid@grancanariapropiedades.cl</a></li>
            <li><a href=""><i class="fa fa-facebook"></i> Gran Canaria Propiedades</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Menú</h5>
          <ul>
            <li><a routerLink="inicio">
              <i class="fa fa-caret-right"></i>
              Inicio
            </a></li>
            <li><a routerLink="propiedades">
              <i class="fa fa-caret-right"></i>
              Propiedades
            </a></li>
            <li><a routerLink="servicios">
              <i class="fa fa-caret-right"></i>
              Servicios
            </a></li>           
            <li><a routerLink="contactanos">
              <i class="fa fa-caret-right"></i>
              Contáctenos
            </a></li>
            <li><a routerLink="politicas-de-privacidad">
              <i class="fa fa-caret-right"></i>
              Políticas de Privacidad
            </a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Redes Sociales</h5>
          <ul>
            <li><i class="fa fa-facebook"></i><a > /granCanariaPropiedades</a></li>
            <li><i class="fa fa-instagram"></i><a > GranCanaria</a></li>
            <li><i class="fa fa-youtube"></i><a > GranCanariaYoutube</a></li>            
          </ul>
        </div>
      </div>
  </div>
</footer>

