<div class="header">
  <div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <a href="" class=""><i class="fa fa-phone"></i> +56 9 98876717</a>
    </div>
    <div class="col-md-9">
      <a href=""><i class="fa fa-envelope-o"></i> contacto@grancanariapropiedades.cl</a>
    </div>
  </div>
</div>

  <hr>
</div>
<app-navbar></app-navbar>
<section class="col-md-12 slider-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>{{sectionName | uppercase}}</p>
      </div>
    </div>
  </div>
</section>
