<div class="row">
  <div class="search-wrapper">
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="col-md-4">
          <select formControlName="estado">
            <option value="todas" [selected]="true">Estado</option>
            <option value="1">En Arriendo</option>
            <option value="0">En Venta</option>
          </select>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select formControlName="tipo">
              <option value="todas" [selected]="true">Tipo</option>
              <option value="1">Casa</option>
              <option value="2">Departamento</option>
              <option value="3">Oficina</option>
              <option value="4">Sitio</option>
              <option value="5">Local</option>
              <option value="6">Bodega</option>
              <option value="7">Estacionamiento</option>
              <option value="8">Parcela</option>
              <option value="9">Industrial</option>
              <option value="10">Agricola</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <select formControlName="comuna">
              <option value="todas">Escoja una comuna</option>
              <option *ngFor="let comuna of comunas" [value]="comuna.id">
                {{comuna.nombre}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-1">
          <button class="search-button" (click)="searchProperties()">Buscar</button>
        </div>
      </div>
    </form>
  </div>
</div>
