<div class="overlay">
  <div id="background-img-min" [style.backgroundImage]="'url('+ './assets/images/home.png' +')'"  alt="Background"></div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="custom-breadcrumb">
        <span> <a routerLink="../inicio"><i class="fa fa-home"></i> Inicio</a></span>
        <span class="text-muted"> > Servicios</span>
      </div>
    </div>
  </div>

  <div class="our-services">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center section-title">NUESTROS SERVICIOS</h3>

        <i class="fa fa-home big-icon"></i>
        <h3>GESTIÓN DE PROPIEDADES</h3>

        <p>
          <i class="fa fa-caret-right"></i>
          Formalización y redacción de contrato de promesa de compraventa y arriendos con aspectos legales y buenas
          prácticas (ej.: garantías con cheque y/o vale vistas).
        </p>

        <p>
          <i class="fa fa-caret-right"></i>
          Recopilación de antecedentes de la propiedad (conservadores, archivo judicial, municipalidad, serviu, bancos,
          entre otros).
        </p>

        <p>
          <i class="fa fa-caret-right"></i>
          Gestionar con los bancos y con abogados todo el proceso de estudio de títulos, escrituración, firmas e
          inscripciones.
        </p>

        <p>
          <i class="fa fa-caret-right"></i>
          Gestión notarial, hasta el cierre de firmas de la escritura.
        </p>

        <p>
          <i class="fa fa-caret-right"></i>
          Coordinar formalmente la entrega de la propiedad, con acta de entrega, o inventarios, y resolver y mediar
          diferencias.
        </p>

        <p>
          <i class="fa fa-caret-right"></i>
          Además las propiedades de nuestros clientes se promocionan en varios portales de internet y redes sociales.
        </p>

        <i class="fa fa-comments big-icon"></i>
        <h1>CONSULTORÍA</h1>
        <p>
          <i class="fa fa-dot-circle-o"></i>
          Tiene como objetivo prestar asesorías y un servicio completo de las operaciones de compraventa, arriendo de
          bienes raíces en general, así como la asesoría para la venta de paños inmobiliarios.
        </p>

        <p>
          <i class="fa fa-dot-circle-o"></i>
          Hacemos un completo levantamiento de la propiedad, con el fin de que cada cliente obtenga la mayor
          satisfacción en la venta o adquisición de su propiedad.
        </p>

        <i class="fa fa-suitcase big-icon"></i>
        <h1>GESTIÓN DE PAÑOS INMOBILIARIOS</h1>
        <p>
          <i class="fa fa-check"></i>
          Gran Canaria Propiedades entrega un servicio completo de las operaciones de compraventa de paños inmobiliarios
          en la Intermediación de Terrenos con Inmobiliarias.
        </p>

        <p>
          <i class="fa fa-check"></i>
          Buscamos paños para desarrollo Inmobiliario residencial o comercial y/o Strip Center de acuerdo a las
          necesidades del mandante.
        </p>
      </div>
    </div>

    <div class="section-images">
      <div class="row">
        <div class="col-md-4 col-12">
          <img class="section-image" [src]="'assets/images/servicios1.png'" alt="Servicios">
        </div>
        <div class="col-md-4 col-12">
          <img class="section-image" [src]="'assets/images/servicios2.png'" alt="Servicios">
        </div>
        <div class="col-md-4 col-12">
          <img class="section-image" [src]="'assets/images/servicios3.png'" alt="Servicios">
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <button class="our-services-button">
        <a routerLink="../contactanos">Contactar</a>
      </button>
    </div>
  </div>
</div>
