i {
  color: #00D4A1;
  margin-right: 8px;
}

.big-icon {
  font-size: 2em;
  margin: 15px 0 5px 0;
}

.our-services button a {
  color: white;
}

.section-title {
  color: #00d4a1;
}

img {
  height: 200px;
}

button {
  margin-top: 25px;
}

.section-images {
  margin-top: 50px;
}

