<div class="overlay">
  <div id="background-img-min" [style.backgroundImage]="'url('+ './assets/images/home.png' +')'"  alt="Background"></div>
</div>


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="custom-breadcrumb">
        <span> <a routerLink="../inicio"><i class="fa fa-home"></i> Inicio</a></span>
        <span class="text-muted"> > ¿Quiénes Somos?</span>
      </div>
    </div>
  </div>

  <section class="who-we-are">
    <div class="row">
      <div class="col-md-6">
        <img class="section-image" id="who-we-are-image" [src]="'assets/images/quienes_somos.png'"
             alt="¿quiénes somos?">
      </div>
      <div class="col-md-6">
        <h3>¿QUIÉNES SOMOS?</h3>
        <p>
          Somos profesionales dedicados al servicio, gestión, apoyo y eficiencia que le prestamos al propietario,
          comprador y/o arrendatario de un inmueble.
        </p>

        <p>
          La compra-venta de inmuebles representa para muchas personas una de las decisiones individuales y familiares
          más grande que hacen durante sus vidas. Cada venta es distinta, que va a depender del tipo de inmueble,
          comprador, vendedor, valor, ubicación, superficie y destino.
        </p>

        <p>
          En Gran Canaria Propiedades nos encargamos de atender a cada cliente en forma personalizada.
        </p>

        <p>
          Nuestra preocupación es hacer realidad su proyecto habitacional en el menor tiempo posible y con los
          resultados que ellos esperan.
        </p>

        <h3>CALIDAD Y COMPROMISO</h3>
        <div class="checks">
          <p>
            <i class="fa fa-check-circle-o"></i>
            Acompañamos al cliente en todo el proceso
          </p>
          <p>
            <i class="fa fa-check-circle-o"></i>
            Excelentes resultados en cierres de negocios
          </p>
          <p>
            <i class="fa fa-check-circle-o"></i>
            Atención personalizada
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
